<section
  id="contact"
  class="content-section text-center"
  style="background-color: black"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <p>&nbsp;<br /><br /></p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/ustecotigers" target="_blank">
              &nbsp;<button
                class="btn btn-primary btn-lg btn-default"
                type="button"
                style="width: 174px"
              >
                <i class="fa fa-facebook-f fa-fw"></i
                ><span class="network-name">&nbsp; facebook</span>
              </button>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/ust_ecotigers" target="_blank">
              &nbsp;<button
                class="btn btn-primary btn-lg btn-default"
                type="button"
              >
                <i class="fa fa-twitter fa-fw"></i
                ><span class="network-name">&nbsp;Twitter</span>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
