<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Update Teams</h4>
        <p class="card-category">You can update a team member here</p>
      </div>
      <div class="card-body">
        <form [formGroup]="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="row">
            <div class="col-md-4" *ngIf="imgLoaded">
              <img
                *ngIf="this.imageSrc == null"
                [src]="imgSrc"
                alt=""
                srcset=""
                height="300px"
                width="300px"
              />
              <img
                [src]="this.imageSrc"
                alt=""
                srcset=""
                height="300px"
                width="300px"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="custom-file">
                <input
                  type="file"
                  formControlName="image"
                  id="image"
                  class="form-control"
                  (change)="onImageSelected($event)"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Name</label>
                <input
                  type="text"
                  formControlName="teams_name"
                  class="form-control"
                  [(ngModel)]="inputName"
                  maxlength="40"
                  pattern="[a-zA-Z\s]+"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Role</label>
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="teams_role"
                    class="form-control"
                    [(ngModel)]="inputRole"
                    maxlength="18"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About</label>
                <div class="form-group">
                  <label class="bmd-label-floating"
                    >You can edit the content of your post here</label
                  >
                  <input
                    type="text"
                    formControlName="teams_detail"
                    class="form-control"
                    [(ngModel)]="inputDetails"
                    minlength="20"
                    maxlength="200"
                  />
                </div>
              </div>
            </div>
          </div>

          <!--Social Media Accounts-->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Facebook</label>
                <input
                  type="text"
                  formControlName="teams_facebook_link"
                  class="form-control"
                  [(ngModel)]="inputFacebook"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Twitter</label>
                <input
                  type="text"
                  formControlName="teams_twitter_link"
                  class="form-control"
                  [(ngModel)]="inputTwitter"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">Instagram</label>
                <input
                  type="text"
                  formControlName="teams_instagram_link"
                  class="form-control"
                  [(ngModel)]="inputInstagram"
                />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right">
            Submit
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
