<section
  id="about"
  class="content-section text-center"
  style="padding: 100px 0px; padding-bottom: 150px; background-color: black"
>
  <div class="container">
    <div class="row">
      <div class="col">
        <section id="section-timeline" style="padding: 0px">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">History</h2>
                <h3 class="section-subheading text-muted">
                  The History of Eco Tigers
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-group timeline">
                  <li class="list-group-item">
                    <div class="timeline-image">
                      <img
                        class="rounded-circle img-fluid"
                        src="https://i.ibb.co/DDyT4JD/57382326-2239030939452966-8000259904658997248-o.jpg"
                      />
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>2009-2010</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">
                          The Team was founded in the year 2009 in preparation
                          for the first ever Shell Eco Marathon Asia held at the
                          Sepang F1 racetrack in Kuala Lumpur, Malaysia from
                          July 8-10, 2010. The first batch of Eco Tigers led by
                          team leader Tim Orville produced the first T400
                          prototype vehicle which entered the said competition.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item timeline-inverted">
                    <div class="timeline-image">
                      <img
                        class="rounded-circle img-fluid"
                        src="https://i.ibb.co/qmh3swD/12029769-1029594923729913-2146686273493683010-o.jpg"
                      />
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>2014-2016</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">
                          The Shell Eco Marathon Asia was held in Manila,
                          Philippines with the track running around Luneta Park.
                          UST Eco Tigers participated in the said event and
                          started to join in producing the Urban Vehicle Concept
                          in 2015.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="timeline-image">
                      <img
                        class="rounded-circle img-fluid"
                        src="https://i.ibb.co/hgqVFkm/17358667-1325521394137263-2480951541144983841-o.jpg"
                      />
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>2018</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">
                          The Team switched to Battery-electric energy category
                          for its Urban Class Vehicle Concept in time for the
                          Shell Eco Marathon held in Singapore
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item timeline-inverted">
                    <div class="timeline-image">
                      <img
                        class="rounded-circle img-fluid"
                        src="https://i.ibb.co/mSSgyfz/20190815-151635.jpg"
                      />
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>2019</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">
                          The Team Recorded its highest mileage achievement with
                          a record of 463.1km/L in the Prototype – ICE category
                          finishing 8th in the overall competition of the Shell
                          Eco Marathon Asia held at Sepang F1 racetrack in Kuala
                          Lumpur, Malaysia.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="timeline-image">
                      <img
                        class="rounded-circle img-fluid"
                        src="https://i.ibb.co/TLjH43G/unnamed-png-crdownload.png"
                      />
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>2020</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">
                          The Team Celebrates its 10th year anniversary of
                          joining the Shell Eco Marathon Asia since its first
                          iteration in the year 2010.
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<app-mission-vision></app-mission-vision>
