<form
  autocomplete="off"
  [formGroup]="form"
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
>
  <div class="content" style="padding-top: 3%">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card card-profile">
            <div
              class="card-avatar"
              style="max-width: 250px; max-height: 250px"
            >
              <div class="image-upload" *ngIf="EditmodeImage == false">
                <img
                  class="img"
                  style="height: 250px; width: 250px"
                  [src]="photoApiUrl + this.user.photoFileName"
                />
              </div>
              <div class="image-upload" *ngIf="EditmodeImage == true">
                <label for="file-input">
                  <img
                    *ngIf="this.imageSrc == null"
                    class="img imageHover"
                    style="height: 250px; width: 250px; z-index: 1"
                    [src]="photoApiUrl + this.user.photoFileName"
                  />
                  <img
                    *ngIf="this.imageSrc != null"
                    [src]="this.imageSrc"
                    style="height: 250px; width: 250px"
                  />
                </label>
                <input
                  id="file-input"
                  formControlName="image"
                  accept="image/*"
                  type="file"
                  (change)="onImageSelected($event)"
                />
              </div>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                <strong>
                  {{ user.authId == 1 ? "Admin" : "Author" }}
                </strong>
              </h4>
              <p class="card-description">&nbsp;</p>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">First Name</label>
                    <input
                      style="text-align: center"
                      type="text"
                      class="form-control"
                      disabled
                      [value]="user.firstName"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Middle Name</label>
                    <input
                      style="text-align: center"
                      type="text"
                      class="form-control"
                      disabled
                      [value]="user.middleName"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input
                      style="text-align: center"
                      type="email"
                      class="form-control"
                      disabled
                      [value]="user.lastName"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">UST Email</label>
                    <input
                      style="text-align: center"
                      type="text"
                      class="form-control"
                      disabled
                      [value]="user.email"
                    />
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="Editmodepass">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">New Password</label>
                    <input
                      style="text-align: center"
                      type="password"
                      class="form-control"
                      formControlName="password_new"
                      autocomplete="false"
                      minlength="4"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Confirm Password</label>
                    <input
                      style="text-align: center"
                      type="password"
                      class="form-control"
                      formControlName="password_new_confirm"
                      minlength="4"
                    />
                  </div>
                </div>
              </div>

              <button
                type="button"
                (click)="exitEdit()"
                class="btn btn-primary pull-left"
                *ngIf="EditmodeImage == true || Editmodepass == true"
              >
                Exit
              </button>

              <button
                type="button"
                (click)="switchModeChangePass()"
                class="btn btn-primary pull-left"
                *ngIf="EditmodeImage == false && Editmodepass == false"
              >
                Change Password
              </button>

              <button
                type="button"
                (click)="switchModeEditProfile()"
                class="btn btn-primary pull-right"
                *ngIf="EditmodeImage == false && Editmodepass == false"
              >
                Change Profile Picture
              </button>

              <button
                type="submit"
                class="btn btn-primary pull-right"
                *ngIf="Editmodepass == true"
                [disabled]="
                  f.value.password_new != f.value.password_new_confirm ||
                  form.get('password_new').invalid ||
                  form.get('password_new_confirm').invalid
                "
              >
                Submit
              </button>

              <button
                type="submit"
                class="btn btn-primary pull-right"
                *ngIf="EditmodeImage == true"
                [disabled]="this.imageSrc == null"
              >
                Submit
              </button>
              <span
                style="text-align: left !important"
                *ngIf="
                  f.value.password_new != f.value.password_new_confirm &&
                  Editmodepass == true
                "
                >Password Does Not Match</span
              >

              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</form>
