<section
  id="projects"
  class="content-section text-center"
  style="padding: 100px 0px; background-color: #000000"
>
  <div class="container">
    <div class="intro">
      <h2 class="text-center" style="font-size: 40px">Projects</h2>
      <p class="text-center">
        These are some of the projects of the Organization throughout the
        Beginning
      </p>
    </div>
    <div class="row projects justify-content-center">
      <div class="col-sm-6 col-lg-4 item">
        <img
          class="img-fluid"
          src="https://i.ibb.co/PwLnf39/Community-Engagement.jpg"
        />
        <h3 class="name" style="margin: 0px">Community</h3>
        <h3 class="name">Outreach</h3>
        <p class="description muted">
          The team engages with the community through exhibit displays and
          promoting the Shell Eco Marathon Program
        </p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img
          class="img-fluid"
          src="https://i.ibb.co/ZBwkk82/Composites-Application.jpg"
        />
        <h3 class="name">Composites Application</h3>
        <p class="description muted">
          The team believes in further studying the utilization of composites in
          vehicle application it would vastly improve the build quality and
          reduce the overall weight
        </p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img
          class="img-fluid"
          src="https://i.ibb.co/YdkfMWp/Electronics-Development.jpg"
        />
        <h3 class="name">Electronics Development</h3>
        <p class="description muted">
          The team invest in electronics applications to provide valuable
          performance data and improve motor controller designs
        </p>
      </div>
    </div>
  </div>
</section>
